<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jarviz.efbmanager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EFB MANAGER</name>
    <description>Football Tournament Manager for EFB CUP</description>
    <author email="jarviz@nothing.com">Jarviz</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
</widget>
